.login-form {
  text-align: center;

  img {
    margin: 20px auto 20px auto;
    width: 50px;
  }
  .login-title {
    margin: 10px auto 20px auto;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-size: 4vw;
  }
  .login-textfield {
    margin: 10px auto 20px auto;
    font-family: "Titillium Web", "Abel", sans-serif !important;

    .MuiInputBase-input {
      font-family: "Abel", sans-serif !important;
    }
    .MuiFormLabel-root {
      font-family: "Titillium Web", "Abel", sans-serif !important;
      font-weight: 400;
      color: black;
    }
  }
  .login-button {
    margin-top: 10px;
    position: relative;

    font-size: 1.5vw;
  }
  .login-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0;
  }
  .login-progress {
    position: absolute;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
